{% load compress %}
{% load static %}
{% compress js %}
<script type="text/javascript" src="{% static "js/lib/jquery-1.8.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/jquery-ui-1.9.1.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/bootstrap-2.2.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/json2.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/csrf.js" %}"></script>
<script type="text/coffeescript" src="{% static "js/common/hacks.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/common/modals.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/common/scroll.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/common/ui_events.coffee" %}></script>
{% endcompress %}
