{% extends "base.html" %}

{% block header %}
<div class="jumbotron masthead" id="overview">
	<div class="container">
		<h1><a href='http://bdd.berkeley.edu/'> Berkeley Deep Drive Labeling Platform</a></h1>
	</div>
</div>
{% endblock %}


{% block content %}
<div class="row">
	<div class="span12">
		<p class="lead">An Open-Source annotation platform annotation of driving images</p>
	</div>
</div>
<div class="row">
        <div class="span12">
        <a class="lead" href="/segment/{{ label_image }}">Labeling Interface</a>
        <br><br>
        <a class="lead" href="/review/{{ review_image }}">Review Interface</a>
	    <br><br>
	</div>
</div>
{% endblock content %}
