{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="span12">
	<p class="lead">Would you like to label the image you just annotated or continue segmenting other images?</p>	
</div>
</div>
<div class="row">
        <div class="span12">
	<a href="/segment/{{ next_image_id }}">Segment Next Photo</a><br><br>
	{% if not reviewed %} 
	<a href="/review/{{ current_image_id }}">Review Current Photo</a><br><br>
	{% endif %}
	<a href="/">Home Page</a>
	</div>
</div>
{% endblock content %}