{% comment %}
	Controls for polygon segmentation
{% endcomment %}

<div id="ui-controls" class="ui-controls-top">
	<span class="btn-group" data-toggle="buttons-radio">
		<button id='btn-draw' type="button" class="btn" disabled="disabled">
			<i class="icon-edit"></i> Draw </button>
		<button id='btn-edit' type="button" class="btn" disabled="disabled">
			<i class="icon-move"></i> Adjust</button>
	</span>
	<span class="btn-group">
		<button id='btn-undo' type="button" disabled="disabled" class="btn">
			<i class="icon-repeat"></i> Undo </button>
		<button id='btn-redo' type="button" disabled="disabled" class="btn">
			<i class="icon-share-alt"></i> Redo</button>
	</span>
	<span class="btn-group">
		<button id='btn-close' type="button" disabled="disabled" class="btn">
			<i class="icon-ok"></i> Close</button>
		<button id='btn-delete' type="button" disabled="disabled" class="btn">
			<i class="icon-trash"></i> Delete</button>
	</span>
	<span class="btn-group">
		<button id='btn-zoom-reset' type="button" disabled="disabled" class="btn">
			<i class="icon-zoom-out"></i> Reset Zoom</button>
	</span>

{% if extra_ui_controls %}
	{% include extra_ui_controls %}
{% endif %}

{% if instructions %}
	<span class="pull-right">
		<a href="#modal-instructions" role="button" class="btn btn-primary" data-toggle="modal"><em>Instructions</em></a>
	</span>
{% endif %}
</div>
