{% load compress %}
{% load static %}
{% compress js %}
<script type="text/javascript" src="{% static "js/lib/jquery.hotkeys.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/kinetic-v4.3.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/delaunay.js" %}"></script>
<script type="text/coffeescript" src="{% static "js/common/util.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/common/geom.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/common/actions.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/common/active_timer.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/poly/actions.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/poly/controller_state.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/poly/controller_ui.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/poly/stage_ui.coffee" %}"></script>
<script type="text/coffeescript" src="{% static "js/poly/polygon_ui.coffee" %}"></script>
{% endcompress %}
