{% load compress %}
{% load static %}
{% compress js %}
<script type="text/javascript" src="{% static "js/lib/jquery.hotkeys.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/kinetic-v4.3.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/delaunay.js" %}"></script>
<script type="text/javascript" src="{% static "js/common/util.js" %}"></script>
<script type="text/javascript" src="{% static "js/common/geom.js" %}"></script>
<script type="text/javascript" src="{% static "js/common/actions.js" %}"></script>
<script type="text/javascript" src="{% static "js/common/active_timer.js" %}"></script>
<script type="text/javascript" src="{% static "js/poly/actions.js" %}"></script>
<script type="text/javascript" src="{% static "js/poly/controller_state.js" %}"></script>
<script type="text/javascript" src="{% static "js/poly/controller_ui.js" %}"></script>
<script type="text/javascript" src="{% static "js/poly/stage_ui.js" %}"></script>
<script type="text/javascript" src="{% static "js/poly/polygon_ui.js" %}"></script>
{% endcompress %}
